# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
tf_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files (if large)
data/*.csv

# Model files
*.pkl

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db